@model GameLol.DoMain.PropertyHero

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PropertyHero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyID" />
            <div class="form-group">
                <label asp-for="NamePoperty" class="control-label"></label>
                <input asp-for="NamePoperty" class="form-control" />
                <span asp-validation-for="NamePoperty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateProperty" class="control-label"></label>
                <input asp-for="RateProperty" class="form-control" />
                <span asp-validation-for="RateProperty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeroID" class="control-label"></label>
                <select asp-for="HeroID" class="form-control" asp-items="ViewBag.HeroID"></select>
                <span asp-validation-for="HeroID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
