@model Student 

    <div class="col-sm-4 col-lg-4 col-md-4" style="min-width:18rem; max-width:30.5%;">
        <div class="thumbnail">
            <img src="@Model.UrlImage" >
            <div class="caption">
                <h3 class="pull-right">@Model.Group.GroupName</h3>

                <h3>
                    <a asp-controller="Student" asp-action="Details" asp-route-id="@Model.StudentId">@Model.Name</a>
                </h3>
            </div>
        </div>
    </div>
    