@model CreateRoleViewModel

@{
    ViewData["Title"] = "Create New Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h4>Create New Role</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Register" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input  type="submit" value="Create Role" class="btn btn-primary" style="width:auto" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
