@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <button class="btn"><a href="~/Tanks">Tank List</a></button>
        <button class="btn"><a href="~/Nations">Nation List</a></button>
        <button class="btn"><a href="~/TankTypes">Tank List</a></button>
    </div>

