@page 
@model CompanyApp.Pages.Company.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<h2>@Model.company.Name</h2>
<p>@Model.company.Id</p>
<p>@Model.company.Address</p>
<p>@Model.company.CompanyType</p>

